* {
	padding: 0;
	margin: 0;
}
body {
	background: #00d2ff;
	background-size: 100% 100%;
	background: -webkit-radial-gradient(circle, #00d2ff, #3a7bd5);
	background: -o-radial-gradient(circle, #00d2ff, #3a7bd5);
	background: -moz-radial-gradient(circle, #00d2ff, #3a7bd5);
	background: radial-gradient(circle, #00d2ff, #3a7bd5);
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	height: 100vh;
	text-align: center;
}
img {
	max-width: 100%;
	height: auto;
}
main {
	margin: 0 auto 50px auto;
	width: 520px;
}
header span {
	color: #FFF;
	display: block;
	font-size: 3em;
	margin: 50px 0 20px 0;
}
header span small {
	font-size: 0.6em;
}
header img {
	width: 75%;
	text-align: center;
}
article {
	background: #FFF;
	border-radius: 10px;
	box-shadow: 0 0 5px #2E323C;
	color: #2E323C;
	margin-top: -80px;
	padding: 90px 20px 30px 20px;
}
h1 {
	font-size: 2.2em;
	line-height: 1.5;
}
.hp {
	font-size: 0.8em;
	line-height: 1.5;
	margin: 15px auto 30px auto;
	width: 50%;
}
.hp hr {
	background: #32FA5A;
	border: none;
	border-radius: 3px;
	height: 6px;
	margin-bottom: 5px;
}
article span {
	display: block;
}
article>section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px 0;
}
article>section.movset {
	flex-direction: column; 
}
.item {
	flex-grow: 1;
	flex-basis: content;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.5;
}
.item .info {
	color: #666;
	font-size: 0.6em;
	font-weight: normal;
	text-transform: uppercase;
}
.poke-info {
	border-bottom: 1px #CCC solid;
}
.poke-info .middle {
	border-right: 1px #CCC solid;
	border-left: 1px #CCC solid;
}
.icon {
	height: 20px;
}